<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="contact-info">
          <i class="las la-envelope"></i> info@ahenksan.com
          <i class="las la-map-marker"></i>Velioğlu O.S.B 17 Sokak No:3 Perşembe / Çaycuma / ZONGULDAK
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-right">
        <div class="site-info">
          <div class="social-area">
            <a target="_blank" href="https://www.facebook.com/Ahenksan"><i class="lab la-facebook-f"></i></a>
            <a target="_blank" href="https://www.instagram.com/ahenksan"><i class="lab la-instagram"></i></a>
            <a target="_blank" href="https://twitter.com/ahenksan"><i class="lab la-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>