<div id="project-page" class="project-area gray-bg section-padding home3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h6>Aluminium Projects</h6>
          <h2>High Standards for aluminum windows</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <% @size = 1..2 %>
      <% @size.each do |s| %>
        <div class="col-lg-6 col-md-6 col-6">
          <video style="height: 720px" controls src="/themes/ahenksan/assets/img/projects/aluminum-windows/<%=s%>.mp4"></video>
        </div>
        <br><br>
      <% end %>
    </div>
    <div class="row">
      <% @size = 1..34 %>
      <% @size.each do |s| %>
        <div class="col-lg-6 col-md-6 col-12">
          <div class="single-project-item bg-cover" style="
          background-image: url(/themes/ahenksan/assets/img/projects/aluminum-windows/b<%=s%>.JPG);
          ">
<!--            <div class="project-inner">-->
<!--              <div class="hover-info">-->
<!--                <h4>Aluminium Windows</h4>-->
<!--                <p>Aluminium window production</p>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>