<div class="about-us-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h6>About Our Company</h6>
          <h2>An inspired approach to quality <b>construction</b> and <br><b>commercial projects</b></h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-us-content">
          <br><br>
          <p class="highlight">When Ahenksan was first conceived we set out to build a business model that focused on quality and attention to detail.</p>
          <br>
          <p>Today we operate with the confidence that our past has prepared us to embrace the most challenging of projects.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="about-key">
          <div class="service-icon">
            <i class="flaticon-bulldozer"></i>
          </div>
          <h5>Construction <br>Management</h5>
          <p>This area delivers the control you want over all critical aspects of your project.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="about-key">
          <div class="service-icon">
            <i class="flaticon-factory-1"></i>
          </div>
          <h5>Owner's <br>Representation</h5>
          <p>A good owner’s rep saves their client time, money and a lot of headaches.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="about-key">
          <div class="service-icon">
            <i class="flaticon-helmet"></i>
          </div>
          <h5>General <br>Contractor</h5>
          <p>Clients hire Ahenksan because we deliver great value, without question.</p>
        </div>
      </div>

    </div>
  </div>
</div>
