<div class="contact-section section-padding">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="address-box">
          <h3>Get In Touch</h3>
          <h6>Ahenksan Metal Sanayi</h6>
          <p>Mimar Sinan Org. San. Bölg 23.Cad No:82 Melikgazi / Kayseri</p>
          <h6>Telephone</h6>
          <p><i class="las la-phone"></i> +90 352 503 01 66 - 67</p>
          <h6>Our Mail</h6>
          <p><i class="las la-envelope"></i> info@ahenksan.com</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="contact-form">
          <% if flash[:notice] %>
            <div class="alert alert-success" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>
          <h4>Let's Talk About Your Project</h4>
          <p>After we get some information from you, we'll set up a time to discuss your project in further detail.</p>
          <form method="post" action="/contact">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input name="name" type="text" placeholder="Name">
            <input name="email" type="email" placeholder="Email">
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
            <button class="main-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
