<!--Project Area -->
<div id="home2" class="homepage-slides owl-carousel">
  <div class="single-slide-item">
    <div class="overlay"></div>
    <div class="hero-area-content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 wow fadeInUp animated" data-wow-delay=".2s">
            <div class="section-title">
              <h1>Creative in <b>Engineering</b><br>and <b>Production</b></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-border">
      <img src="/themes/ahenksan/assets/img/slider-line-1.png" alt="creative">
    </div>
  </div>
  <div class="single-slide-item hero-area-bg-3">
    <div class="overlay"></div>
    <div class="hero-area-content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 wow fadeInUp animated" data-wow-delay=".2s">
            <div class="section-title">
              <h1>Perfection in <b>Engineering</b><br>and <b>Production</b></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-border">
      <img src="/themes/ahenksan/assets/img/slider-line-1.png" alt="creative">
    </div>
  </div>
  <div class="single-slide-item hero-area-bg-2">
    <div class="overlay"></div>
    <div class="hero-area-content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 wow fadeInUp animated" data-wow-delay=".2s">
            <div class="section-title">
              <h1>Success in <b>Industrial</b><br>and <b>Renovation</b></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-border">
      <img src="/themes/ahenksan/assets/img/slider-line-1.png" alt="success">
    </div>
  </div>
</div>
<!-- Feature Area -->
<div class="feature-area home-2">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="single-feature-item">
          <div class="feature-icon">
            <i class="flaticon-crane"></i>
          </div>
          <h5>Steel <br> Products </h5>
          <p>Factory steel products</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="single-feature-item spro">
          <div class="feature-icon">
            <i class="flaticon-factory"></i>
          </div>
          <h5>Industrial <br>Solutions</h5>
          <p>Anodizing falicities</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="single-feature-item mb-0">
          <div class="feature-icon">
            <img src="/themes/ahenksan/assets/img/window.png" class="custom-image" alt="alumunium-window">
          </div>
          <h5 class="custom-image-title">Aluminium <br> Products</h5>
          <p class="custom-image-text">Windows, Exterior Coating</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Info Area-->
<div class="about-area home-2 section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="info-content-area">
          <div class="section-title">
            <h6>Focusing on Construction and Industrial Products</h6>
            <h2>Providing In-house engineering, <b>construction </b>and <b> production</b></h2>
            <p class="highlight">Our Mission</p>
          </div>
          <p>We are trying to keep the flexibility for our clients and keep building and producing the best quality
            products for needs. And we keep doing what we know best.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img src="/themes/ahenksan/assets/img/info/about-2.png" alt="about">
      </div>
    </div>
  </div>
</div>
<!--<div class="featured-project-area">-->
<!--  <div class="content-area">-->
<!--    <div class="project-grids bg-cover clearfix">-->
<!--      <div class="overlay"></div>-->
<!--      <div class="grid">-->
<!--        <div class="inner">-->
<!--          <span class="count">01.</span>-->
<!--          <h3>Window Products</h3>-->
<!--          <p>Travelling salesman and above it there hung a picture that he had recently cut out</p>-->
<!--          <a href="#" class="main-btn">Read More</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="grid">-->
<!--        <div class="inner">-->
<!--          <span class="count">02.</span>-->
<!--          <h3>Materials Projects</h3>-->
<!--          <p>Travelling salesman and above it there hung a picture that he had recently cut out</p>-->
<!--          <a href="#" class="main-btn">Read More</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="grid">-->
<!--        <div class="inner">-->
<!--          <span class="count">03.</span>-->
<!--          <h3>Oil &amp; Gas Projects</h3>-->
<!--          <p>Travelling salesman and above it there hung a picture that he had recently cut out</p>-->
<!--          <a href="#" class="main-btn">Read More</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="grid">-->
<!--        <div class="inner">-->
<!--          <span class="count">04.</span>-->
<!--          <h3>Energy project</h3>-->
<!--          <p>Travelling salesman and above it there hung a picture that he had recently cut out</p>-->
<!--          <a href="#" class="main-btn">Read More</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->